body{
    background-color:rgb(30, 51, 35);
    color:ivory; 
}


.largetext {
    background-color:rgb(30, 51, 35);
    color:ivory; 
}

.red {
    color:read; 
}

.ivory_background {
    background-color:ivory; 
}